.svg-img {
  width: 150px;
  position: absolute;
  filter: grayscale(0.3) opacity(0.3);
  z-index: 0;
}

.shipping-svg {
  top: 700px;
  /*animation-name: backForward;*/
  animation-duration: 12s;
  animation-timing-function: ease-out;
  transform: rotate(340deg);
}


.airplane-svg{
  top: 1050px;
  right: 0;
}

.forklift-svg{
  top: 1400px;
}

.crane-svg{
  top: 1750px;
  right: 0;
}
.delivery-svg{
  top: 2100px;
}

.arrival-svg{
  top: 2450px;
  right: 0;
}
.arrival-1-svg{
  top: 2800px;

}
.train-svg{
  top: 3150px;
  right: 0;

}
.operator-svg{
  top: 3500px;

}
.worldwide-svg{
  top: 3850px;
  right: 0;

}
.package-svg{
  top: 4200px;

}
.customize-svg{
  top: 4450px;
  right: 0;

}
.warehouse-svg{
  top: 4900px;
}

.fast-delivery-svg{
  top: 5250px;
  right: 0;

}

.shipping-landscape {
  left: 100px;
  width: 100px;
  position: absolute;
}

.shipping2-landscape {
  left: 150px;
  width: 120px;
  top: 10px;
  position: absolute;
}
.crane1-landscape {
  width: 60px;
  top: 20px;
  position: absolute;
  left: 480px;
}
.crane2-landscape {
  width: 100px;
  position: absolute;
  left: 400px;
    transform: rotate3d(0,1,0,180deg);
}
.crane3-landscape {
  width: 120px;
  position: absolute;
  left: 300px;
}
.crane6-landscape {
  width: 140px;
  position: absolute;
  left: 500px;
  top: -10px;
    transform: rotate3d(0,1,0,180deg);
}
.crane5-landscape {
  width: 100px;
  position: absolute;
  left: 640px;
    transform: rotate3d(0,1,0,180deg);
}
.crane4-landscape {
  width: 60px;
  top: 20px;
  position: absolute;
  left: 600px;
}
.forklift1-landscape {
  width: 80px;
  position: absolute;
  left: 650px;
  top: 70px;
}

.forklift2-landscape {
  width: 50px;
  top: 40px;
  position: absolute;
  left: 920px;
  transform: rotate3d(0,1,0,180deg);
}
.warehouse1-landscape {
  width: 60px;
  top: 20px;
  left: 970px;
  position: absolute;
}
.warehouse2-landscape {
  width: 100px;
  top: 20px;
  left: 1000px;
  position: absolute;
}
.warehouse3-landscape {
  width: 60px;
  top: 30px;
  left: 1080px;
  position: absolute;
}
